

<h2>FINANCIALS</h2 >

<b> THINGS TO DO EVERY YEAR </b>
<h2> Renew PO Box </h2>
<p>

   PO Box 591226 <br>
   SF, CA 94159-1226 <br>
   <p>
   Yearly renewal sent to tennis.mutt@gmail.com 
   <p>

<h2> Club Web Site (www.pair.com) </h2>
<p>
$19     renew URL (www.goldengatetennisclub.org) --- this is automatically deducted from our Paypal account<br>
$65.69  renew  web site (webmaster needs to renew)
<p>

<b>2018</b><br>
<a href= "./website/2018pairnetworks_bill.pdf">2018 web site pair.com bill ($65.69)</a> <br>
<a href= "./website/2018pairnetworks_domain_payment.pdf">2018 URL domain name auto payment ($19)</a> <br>
<a href= "./website/2018pairnetworks_PayPal_payment.pdf">2018 website pair.com payment ($65.69)</a> <br>


<p>

<h1>USTA </h2>
<b style="font-size:18px"> Renew Golden Gate Tennis Club CTA </b><br>

The club's CTA URL is &nbsp;&nbsp;&nbsp;
<a href= "https://www.ustanorcal.com/organization.asp?id=618">https://www.ustanorcal.com/organization.asp?id=618</a> <br>

<p>


Easiest way to do this is by calling USTA National -- there's an error in the link to Roger Okamoto's USTA account.
Can't renew via web because only the Adult category membership shows up ($45/year).  By calling USTA, they will
accept credit card and the CTA can be renewed. <p>

Within a few days the Golden Gate Tennis Club's CTA will show up as renewed on the Norcal USTA
web site.
<p>
<b>Renew CTC/NJTL </b> <br>
This is required to get the insurance (see below).  EASY but need to answer a lot of questions <br>
Requires our FEIN # <br>

URL : <a href="https://ct.usta.com/cta/">   https://ct.usta.com/cta/ </a><br>
Login:  goldengatennisclub@gmail.com (ggtc.3722)<br>
<p>
<a href="./CTJA/2019_CTA Registration.pdf" >2019_CTA Registration </a>
<p>
<p><b> ------------------------------- </b> <p>

<b>CALIFORNIA STATE </b><br>
$20 Renew our Statement of Information with California  <br>
<a href= "./state/statementOfInformation_page1.jpg">statementOfInformation_page1</a> <br>
<a href= "./state/statementOfInformation_page2.jpg">statementOfInformation_page2</a> <br>
<p>
Renew Online at <br>
<a href= "https://businessfilings.sos.ca.gov">https://businessfilings.sos.ca.gov</a> <br>


<p>

<a href= "./state/2018payment.png">2018 payment</a> <br>

<p>
File 199N California e-Postcard  (on-line)  ---- this is like California State Income Tax statement  <br>
FREE, and really EASY  to file (but  highly important to file )
<p>
<a href="https://www.ftb.ca.gov/online/199N_ePostcard/index.asp">https://www.ftb.ca.gov/online/199N_ePostcard/index.asp
</a>
<p>
Our Entity Number: <b>0406779</b>
<p>
<a href= "./state/california_199N_postcard/2018_199N_Cal_FTB.pdf">2018 FTB</a> ($8000 gross receipts ,Filed Feb 17,2019)<br>

<a href= "./state/california_199N_postcard/2017_199N_Cal_FTB.pdf">2017 FTB</a> $5000 gross receipts, Filed Feb 17,2019)<br>

<a href= "./state/california_199N_postcard/2017_199N California e-Postcard _ Review Your Information _ California Franchise Tax Board">2017 FTB</a> <br>

<a href= "./state/california_199N_postcard/2016_199N_Cal_FTB.pdf">2016 FTB</a> ($10,000 gross receipts,  Filed Feb 17,2019)<br>
<p>
<b> Failure to file! </b> <br>
Letters we've received for not filing <p>
<a href="./state/california_199N_nonfiling/2015_N199_NonfilingNotice.pdf" >2015_N199_NonfilingNotice.pdf</a><br>
<p>
<a href="./state/california_199N_nonfiling/2016_N199_NonfilingNotice.pdf" >2016_N199_NonfilingNotice.pdf</a><br>
<a href="./state/california_199N_nonfiling/2016_N199_NonfilingNotice_pg2.pdf" >2016_N199_NonfilingNotice_pg2.pdf</a><br>

<p><b> ------------------------------- </b> <p>
<h1> Club Insurance </h1>

USTA Insurance Link is

<a href= "https://www.usta.com/en/home/organize/partner-organizations/national/cta-insurance-programs.html">USTA Insurance</a> <br>
<p>
Note: that the Norcal USTA Contact is <br>
David Resnick-Dunn (resnick-dunn@norcal.usta.com) <br>
But he didn't respond to my email --- the people below are the direct contacts <br>


<p>
<b>Master Liability Insurance Program</b> <br>
$205/year for CTA<br>
Elizabeth A Shipman <br>
Eagle Risk Management Services<br>
9 Mount Pleasant Turnpike, Suite 201<br>
Denville, NJ 07834<br>
973-659-9100 (phone)<br>
973-659-9944 (fax)<br>
eshipman@eaglerisk.com<br>
<p>
Send her an email and she will reply by sending form to apply and a request form to be filled out, attached to company letterhead.
<br>
<a href = "./insurance/2019ContributionRequest.pdf" >2019ContributionRequest.pdf</a>  (this need to be filled out)
<br>
<a href = "./insurance/accept_ggtc_sig.pdf " >2019 Letter head form</a> (this need to be produced on company letterhead)
<br>
<p>
<b>HTML to produce Acceptance letter </b> <br>
Print as pdf to produce form and the formatting will work <br>
<a href = "./insurance/accept_ggtc.html" >GGTC Letter head </a> <br>
<a href = "./insurance/accept_sctc.html" >SCTC Letter head </a> <br>
<p>
NOTE that a Participant ID (1114 for GGTC) is required.  
<p>
There should be an email to renew this policy --- but I looked in my email (and PO Box) and couldn't one.
Around November, email to find out.  Do this to continue the policy uninterrupted.
<p>

<b>Directors and Officers  </b> <br>
COST $500+ <br>
Butch Franklin       <b>cell: (973) 886-3110 </b> <br>
Arthur J. Gallagher & Co<br>
115 South Jefferson Rd. Building #200<br>
Whippany, NJ 07981<br>
Email: butch_franklin@ajg.com<br>
Phone: (973) 921-8206<br>
He also answers his cell in addition to office phone <br>

<p>

In order to complete this, after payment, the CTA questionaire must be completed 
(also noted above, can probably do before )<br>
<a href= "https://ct.usta.com/cta/">https://ct.usta.com/cta/</a> <br>
Login:  goldengatennisclub@gmail.com  &nbsp;&nbsp;  Note the spelling<br>


<p>
A renewal letter is sent to renew the policy<br>

The reminder is sent around November to the PO Box.
The renewal URL is <a href="http://www.ajg.com/ezpay">www.ajg.com/ezpay</a>
The renewal letter will have the needed ACCOUNT Number and Invoice # <br>
<a href="./insurance/2019/gallagher_reminder.pdf">2019 Renewal Letter ($550)</a>





<p>
<b>PAYMENTS </b>
<br>
Master Liability
<a href = "./insurance/payments/2019_payment_for_MasterLiability.pdf">2019_payment_for_MasterLiability.pdf </a>

<p>
<p> &nbsp;
<p> &nbsp;
<p> &nbsp;
<p> &nbsp;


</html>
