<!DOCTYPE html>
<html lang="em">

  <head>
    <title>Membership</title>

  </head>
  <body>

  <center>
  <p>
  <h2> Membership Application </h2>
  <p>
  <form id = "input" name="signup" action="accept", method="post">
  <input name ="fname" required value = "Rafael" ><br>
  <input name ="lname" required value = "Nadal" ><p>

  <input name = "address" required value = "1723 Diego Cortez" ><br>
  <input name = "city" required value = "Mallorca" ><br>
  <input name = "zip" required value = "203123" > <br>

  <select name="type">
   <option value = "RS"> Resident Single </option>
   <option value = "NRS"> Non Resident Single </option>

   <option value = "RF"> Resident Family Head </option>
   <option value = "NRF"> Non Resident Family Head</option>

   <option value = "RF_"> Resident Family Additions</option>
   <option value = "NRF_"> Non Resident Family Additions</option>


  </select>

  <p>

  <input type="submit" class="button" value="Submit Application " />

  </form>


  </body>

</html>
